#shopButton
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2d2d2f;
    -fx-background-radius: 0em;
}

#shopButton:hover
{
    -fx-background-color: #212123;
}

#shopButton:pressed
{
    -fx-background-color: #1c1c1e;
}

#shopButton:selected
{
    -fx-text-fill: #099ed3;
}

#employeeButton
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2d2d2f;
    -fx-background-radius: 0em;
}

#employeeButton:hover
{
    -fx-background-color: #212123;
}

#employeeButton:pressed
{
    -fx-background-color: #1c1c1e;
}

#employeeButton:selected
{
    -fx-text-fill: #099ed3;
}

#repositionButton
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2d2d2f;
    -fx-background-radius: 0em;
}

#repositionButton:hover
{
    -fx-background-color: #212123;
}

#repositionButton:pressed
{
    -fx-background-color: #1c1c1e;
}

#repositionButton:selected
{
    -fx-text-fill: #099ed3;
}

#saleButton
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2d2d2f;
    -fx-background-radius: 0em;
}

#saleButton:hover
{
    -fx-background-color: #212123;
}

#saleButton:pressed
{
    -fx-background-color: #1c1c1e;
}

#saleButton:selected
{
    -fx-text-fill: #099ed3;
}